.navbar-margin-top-bottom{
    margin-top:2px;
    margin-bottom:2px;
}

.margin-top-bottom{
    margin-top:10px;
    margin-bottom:10px;
}

.table-margin-top-bottom{
    margin-top: 35px;
    margin-bottom:35px;
}

.btn-xlg,
.btn-group-xlg > .btn {
    padding: 30px 16px;
    font-size: 30px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-round,
.btn-group-round > .btn {
    border-radius: 50px;
}

.h1, .h2, .h3, .h4, .h5{
    color:darkslateblue;  
}

.select-table-cell{
    display:table-cell;
    width:49%;
    float:left;
}

.div-half-max-width{
    display:table-cell;
    width: 49%;
    float:left;
}


.select-margin-right{
    margin-right:23px;   
}

.avatar-mini{
    width: 25px;
    height: 25px;
}

.goback-logo{
    width:271px;
    height:48px;
    margin-top:3px;
}

.grey-select{
    color:darkgrey;   
}

.avatar-Image{
    width: 400px;
    height: 400px;
}

#userImage{
    width: 400px;
    height: 400px;
    margin-left: 100px;
}

.dotted-round-div{
    border-radius: 15px;
    border-style: dotted;
    border-color:lightgray;
    border-width: 2px; 
}

.margin-top-50{
    margin-top:50px;   
}

.div-scrollable{
    overflow-y: scroll;   
}

.changeUser{
    width: 70px;
    height: 60px;
    margin-bottom: 10px;
    font-size: 40px;
    font-style: bold;
    text-align: center;
}

#removeButton{
    background-image: url(../img/Minus.png);
    background-repeat: no-repeat;
    background-position:center;
}

#addButton{
    background-image: url(../img/add.png);
    background-repeat: no-repeat;
    background-position:center;
}

.tabspace{
    margin-left: 50px;   
}
.userList {
    float:left;
    border:1px solid lightgray;
    border-radius: 5px;
    list-style-type: none; 
    max-height: 82%;
    max-width: 44%;
    width: 44%;
    overflow-y: scroll;
}
.buttonTable{
    margin-top: 220px;
    float:left;
}

.div-side {
    width: 15%;
    float:left;
    
}

.div-users{
    height: 650px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.div-max-height{
    height:100%;
}

.div-max-width{
    width:100%;    
}

#Password, #tipoUtilizador {
    width: 250px;  
}

#Password {
 margin-top: 10px;   
}

#Escola,#Turma, #IdAgrupamento, #Agrupamento, #IdEscola, #Morada, #Contacto, #Pass, #Username, #Nome, #tipoUser, #guardarEdit, #Ano, #Numero, #IdUser {
    width: 100%;
    height: 50px;
    font-size: auto;
    margin-bottom: 10px;
}
    
#guardarEdit {
    margin-top: 20px;   
}

.ValorAvaliacao {
    float:left;
    width: 100%;
}

#ValorAvaliacao {
    float:left;
    width: 100%;
}

.SmallAvatar {
    width: 150px;
    Height: 150px;
}

#SideInfo {
margin-left: 10%;
}
.modal-backdrop {
    z-index: 0;
}