.navbar-margin-top-bottom{
    margin-top:2px;
    margin-bottom:2px;
}

.table-margin-top-bottom{
    margin-top: 35px;
    margin-bottom:35px;
}

.btn-xlg,
.btn-group-xlg > .btn {
    padding: 30px 16px;
    font-size: 30px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-round,
.btn-group-round > .btn {
    border-radius: 50px;
}

.h1{
    color:darkslateblue;  
}

.modal-backdrop {
    z-index: 0;
}